<script lang="ts" setup>
import { ref, computed, reactive } from "vue";
import ProductCard from "@/components/ProductCard.vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const selectedProducts = ref(Array());

function receive(index: number) {
  const obj = products.value[index];
  selectedProducts.value.push({
    id: obj.id,
    name: obj.name,
    price: obj.price
  });

  console.log(selectedProducts)
}

const sum = computed(() => {
  let price = 0;
  selectedProducts.value.forEach(e => price += e.price)
  return price;
})



</script>
<template>
  <div class="layout-s">
    <div class="content-s">
      <v-row>
        <v-col v-for="(data, i) in products" :key="data.id" cols="4">
          <ProductCard :id="data.id" :title="data.name" :price="data.price" @buy="receive"></ProductCard>
        </v-col>
      </v-row>
    </div>
    <div >
      <div class="content-s" style="height:70vh">
        <v-table>
          <thead>
            <tr>
              <th class="text-left">
                id
              </th>
              <th class="text-left">
                name
              </th>
              <th class="text-left">
                price
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="item in selectedProducts"
              :key="item.name"
            > 
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <div class="d-flex justify-center no-data" v-if="selectedProducts.length === 0">NO Data</div>
      </div>
      <div class="sum">Sum: {{ sum }}</div>
    </div>
  </div>
</template>

<style scoped>
  .sum {
    font-size: 30px;
    font-weight: bold;
    padding:10px;
  }
  .layout-s {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
  }
  .content-s {
    height:90vh;
    overflow: auto;
  }
  .no-data {
    padding: 10px;
    font-weight: bold;
  }
</style>