<template>
  <v-container fluid>
    
    <v-row>
      <v-col cols="6">
        <v-img :src="selected.image" width="450"></v-img>
      </v-col>
      <v-col>
        <v-container>
          <v-row class="justify-center">
            <v-col>
              <h1
                style="text-align: center; font-size: 40pt"
                class="pd-10"
              >{{ selected.text }}</h1>
              <template 
                v-for="(item,i) in data"
                :key="item.text">
                <v-btn
                  
                  :color="i == select ? 'yellow' : 'none'"
                  height="45px"
                  @click="setImage(i)"
                  block
                  >{{item.text}}
                </v-btn>
                <br/>
              </template>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" setup>
import { ref, computed } from "vue";
const data = ref([
  {text: 'Angry', image: 'feeling_imgs/angry.png'},
  {text: 'Cute', image: 'feeling_imgs/cute.png'},
  {text: 'Excited', image: 'feeling_imgs/excited.png'},
  {text: 'Pain', image: 'feeling_imgs/pain.png'},
  {text: 'Shocked', image: 'feeling_imgs/shocked.png'},
  {text: 'Smile', image: 'feeling_imgs/smile.png'},
])
const select = ref(0);
const selected = computed(() => {
  return data.value[select.value];
})

function setImage(index: number) {
  select.value = index;
}
</script>

<style scoped>
.focus-color {
  background-color: rgb(214, 130, 61);
}
</style>
