<template>
  <v-container>
    <v-text-field
      variant="outlined"
      label="Input Number"
      :rules="[
        v => !!v || 'Number is not empty!!'
      ]"
      v-model="state.num"
    ></v-text-field>
  </v-container>
  <v-container>
    <v-row v-if="parseInt(state.num) > 0" no-gutters>
      <v-col cols="1" v-for="i in parseInt(state.num)"><div style="padding:40px">{{ i }}</div></v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { reactive, computed } from "vue";

const state = reactive({
  num: "0",
});
</script>
