<script setup lang="ts">
import { ref } from "vue";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";

const count = ref({
  first: 0,
  second: 0,
})

function increment() {
  count.value.first += 1;
  count.value.second += 2;
}
function decrease() {
  if(count.value.first - 1 < 0) return;
  count.value.first -= 1;
  count.value.second -= 2;
}
</script>
<template>

  <v-container>
    <v-row>
      <v-col cols="6">
        <first-component @increment="increment" :count="count.first"></first-component>
      </v-col>
      <v-col cols="6">
        <second-component @decrease="decrease" :count="count.second"></second-component>
      </v-col>
    </v-row>
  </v-container>
</template>
