<script setup lang="ts">
import { defineEmits, defineProps } from 'vue';

const emits = defineEmits(['increment'])
const props = defineProps({
  count: Number
})
</script>
<template>
  <div>First Component</div>
  <div>{{props.count}}</div><br/>
  <v-btn @click="emits('increment')">Increment</v-btn>
</template>
