<script setup lang="ts">
  import { defineProps, defineEmits } from "vue";
  const props = defineProps({
    id: Number,
    title: String,
    price: Number
  })
  const emits = defineEmits(['buy'])

  
</script>
<template>
  <v-card
      width="90%"
    >
    <template v-slot:title>
      <p class="text-center">{{props.title}}</p>
    </template>

    <template v-slot:subtitle>
      <p class="text-center">{{props.price}}</p>
    </template>

    <template v-slot:text>
      <div class="d-flex justify-center align-center">
        <v-btn @click="emits('buy', props.id)">Add</v-btn>
      </div>
    </template>
  </v-card>
</template>
