<script setup lang="ts">
import { defineEmits, defineProps } from 'vue';

const emits = defineEmits(['decrease'])
const props = defineProps({
  count: Number
})
</script>
<template>
  <div>Second Component</div>
  <div>{{props.count}}</div><br/>
  <v-btn @click="emits('decrease', 1)">Decrease</v-btn>
</template>
